.deskUI {
  display: none;
}

.topNavManin img {
  width: 200px;
}

.UserNavMobile {
  margin-left: 10px;
  margin-top: 30px;
  text-align: center;
  padding-left: 80px;

  svg,
  img {
    width: 50px;
  }
}

.copyright {
  margin: 20%;
}

// .UserNavMobile ul li {
//   display: inline;
// }

.fixed-bottomNav {
  position: fixed;
  top: 700px;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #000;
}
.bottomGrid {
  text-align: center;
  margin: 30px;
}

.socialMedia {
  padding-bottom: 20px;
}

// @media screen and (min-width: 500px) {
//   .UserNavMobile {
//     text-align: center;
//   }
// }

// top nav

.topNavGrid {
  display: grid;
  text-align: center;
  padding-top: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "topNavManin";
}

.topNavManin {
  grid-area: topNavManin;
}
.UserNavDesk {
  grid-area: UserNavDesk;
}

.topNavManin li {
  display: inline-block;
  padding: 0 10px;
}
.topNavManin li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.topNavManin li a:hover {
  color: #ae53ff;
  text-decoration: underline;
}
.topNavManin li::after {
  padding: 0 8px 0 13px;
  color: rgba(255, 255, 255, 0.5);
}
.topNavManin li:last-of-type::after {
  content: none;
}

@media (min-width: 992px) {
  .deskUI {
    display: block;
    a {
      text-decoration: none;
      color: #fff;
    }
    ul li:hover {
      color: #ae53ff;
    }
  }
  .UserNavMobile {
    display: none;
  }
  .copyright {
    grid-area: copyright;
  }
  .socialMedia {
    grid-area: socialMedia;
  }

  .bottomGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "copyright socialMedia";
  }

  .topNavGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "topNavManin UserNavDesk";
  }
  .topNavManin {
    grid-area: topNavManin;
  }
  .UserNavDesk {
    grid-area: UserNavDesk;
  }

  .InnerTopVanGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "logoNav PageNav";
  }
  .logoNav {
    grid-area: logoNav;
  }
  .PageNav {
    grid-area: PageNav;
    padding-top: 10px;
  }
  //   .UserNavDesk {
  //     text-align: right;
  //   }
}
