<section class="home-hero">
    <!-- render the dynamic data here -->
    <h1>{{ message }}</h1>

    <!-- rendar a thumbnail per movie -->
    <h3>Watch Next</h3>
    <moviethumb v-for="item in allMovies" :movie="item" :key="item.movies_id"></moviethumb>
    <h3>Recently Added</h3>
    <h3>Popular</h3>

</section>