<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roku Streaming Service</title>

    <link rel="stylesheet" href="css/main.css" </head>

<body>
    <main id="app">
        <h1>Using Handlebars is Easy!</h1>
        <h3>What follows is dynamic, server-side rendered content:</h3>
        <!-- This is where Handlebars will inject its templates -->
        <!-- This is like a php inculde statement -->

        {{{ body }}}
    </main>
    <script defer type="module" src="scripts/main.js"></script>
</body>

</html>