<footer>

    <div class="fixed-bottomNav">
        <nav class="UserNavMobile">
            <ul v-if="currentUser">
                {{!-- <li><i class="fas fa-user-circle"></i></li> --}}
                <li>
                    <img src="images/svgs/home_icon.svg" alt="">
                </li>
                <li>
                    <img src="images/svgs/search_icon.svg" alt="">
                </li>
                {{!-- <li>
                    <img src="images/svgs/user_settings2.svg" alt="">
                </li> --}}
                <li v-if="currentUser.user_avatar"><img class="small-avatar-rounded"
                        :src='"images/" + currentUser.user_avatar' alt=""></li>
                <li v-if="currentUser.user_admin"><i class="fas fa-cog"></i></li>
                <li @click="logout"><i class="fas fa-power-off"></i></li>
            </ul>
        </nav>
    </div>

    {{!-- <ul class="float-right">
        <li><i class="fab fa-facebook"></i></li>
        <li><i class="fab fa-twitter-square"></i></li>
        <li><i class="fab fa-google-plus-square"></i></li>
        <li><i class="fab fa-instagram"></i></li>
    </ul> --}}
</footer>